
<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Matric Card Number" name="id" required/>
          </mat-form-field>
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Password" type="password" name="password" required/>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions align="end">    
        <button mat-stroked-button>Submit</button>     
        <button mat-stroked-button>Reset</button>
      </mat-card-actions>
  </mat-card>
</div>

